



.table_container {

}

.main_table {
    width: 90%;
    margin: 10px 5%;




}

.title_container {
    background-color: #ffff00;
    min-height: 100px;
}

.parameter_container {
    background-color: #ffa500;
    min-height: 100px;
}
.table_container {


    /* temp */
    background-color: #ffff00

}



